# pycharm
.idea/
.DS_Store
*/.DS_Store

__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# note04
04_tensorboard_and_gpu/logs
04_tensorboard_and_gpu/data/MNIST/raw/*
# 占位
!04_tensorboard_and_gpu/data/MNIST/raw/readme.txt

# note06
06_dog_vs_cat_classification/AllData/*
!06_dog_vs_cat_classification/AllData/readme.md
06_dog_vs_cat_classification/checkpoints/*.pth
06_dog_vs_cat_classification/config.py